<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="cadeau.imageUrl" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{cadeau.name}}</h5>
      <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem neque repellat, odio totam nobis obcaecati voluptate incidunt dolorem fugit ut nulla rerum aliquid iure nesciunt iusto tenetur magnam libero alias!</p>
      <a href="#" class="btn btn-primary">Aller sur le site marchand</a>
    </div>
  </div>